@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: 'Montserrat';
}

.Nav {
  display: flex;
  height: 70px;
  margin-top: 0;
  /* margin-left: -10px; */
  /* margin-bottom: 100px; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



.Logo {
   max-width: 150px;
}

section {
  padding: 20px;
  display: flex;


}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#grid-pic {
  height: 450px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
}

#intro-header {
  margin-bottom: 1rem;
}

#intro-text {
  margin-top: 0;
}

#review-star {
  height: 20px;
}

.card {
  width: 250px;
  font-size: 12px;
  padding: 20px;
}

.card-img {
  width: 100%;
  border-radius: 9px;
  
}

.gray {
  color: #918E9B;
}
